/*Dowloaded from http://www.localfont.com/*/
@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/Open-Sans-300/Open-Sans-300.eot');
  src: url('../fonts/Open-Sans-300/Open-Sans-300.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Light'),
       local('Open-Sans-300'),
       url('../fonts/Open-Sans-300/Open-Sans-300.woff2') format('woff2'),
       url('../fonts/Open-Sans-300/Open-Sans-300.woff') format('woff'),
       url('../fonts/Open-Sans-300/Open-Sans-300.ttf') format('truetype'),
       url('../fonts/Open-Sans-300/Open-Sans-300.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Open-Sans-regular/Open-Sans-regular.eot');
  src: url('../fonts/Open-Sans-regular/Open-Sans-regular.eot?#iefix') format('embedded-opentype'),
       local('Open Sans'),
       local('Open-Sans-regular'),
       url('../fonts/Open-Sans-regular/Open-Sans-regular.woff2') format('woff2'),
       url('../fonts/Open-Sans-regular/Open-Sans-regular.woff') format('woff'),
       url('../fonts/Open-Sans-regular/Open-Sans-regular.ttf') format('truetype'),
       url('../fonts/Open-Sans-regular/Open-Sans-regular.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Raleway-regular/Raleway-regular.eot');
  src: url('../fonts/Raleway-regular/Raleway-regular.eot?#iefix') format('embedded-opentype'),
       local('Raleway'),
       local('Raleway-regular'),
       url('../fonts/Raleway-regular/Raleway-regular.woff2') format('woff2'),
       url('../fonts/Raleway-regular/Raleway-regular.woff') format('woff'),
       url('../fonts/Raleway-regular/Raleway-regular.ttf') format('truetype'),
       url('../fonts/Raleway-regular/Raleway-regular.svg#Raleway') format('svg');
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 11px;
	font-weight: 400;
	fill: #242424;
}

h1, h2, h3, h4, h5 {
	font-weight: 300;
}

h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 46px;
}

.raleway {
	font-family: 'Raleway', sans-serif;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 28px;
}

h5 {
	fill: #6B6B6B;
	color: #6B6B6B;
}

table { 
    border-spacing: 5px;
    border-collapse: separate;
	margin: 0 auto;
}
.name { 
    padding-right: 20px;
	font-weight: 400;
}

td {
    height: 30px;
    vertical-align: middle;
}

.tableTitle {
	font-weight: 400;
}

.chartWrapper {
	padding: 30px 0px;
}

.attribution{
	font-size: 11px;
	width: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	text-transform: uppercase;
}

.btn-xlarge {
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	padding: 16px 20px;
	font-size: 18px;
	line-height: normal;
	-webkit-border-radius: 8px;
	   -moz-border-radius: 8px;
			border-radius: 8px;
}

.stepTwoElements, .stepThreeElements, .stepFourElements {
	display: none;
}

.axis path {
	fill: none;
	stroke: none;
}

.axis line {
	fill: none;
	stroke: #BABABA;
	shape-rendering: crispEdges;
}

.tick line {
	stroke: #D3D3D3;
}